html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
}

.midground, .foreground {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  padding: 0;
  width: 35vw;
  height: 59vh;

}

body {
  background-color: rgba(0, 255, 0, 0.1);
}

.midground {
  background-color: hsla(225, 100%, 25%, 0.4);
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6);
}
/*
In this lesson we learned about the alpha component of colors. Alpha (or opacity) determines the amount of transparency of a color.
Alpha is defined as a decimal value from 0-1 where 0 is total transparency, and 1 is totally opaque.

To use alpha in the HSL color scheme we must use the hsla parameter:
color: hsla(34, 100%, 50%, 0.1);

To use alpha in the RGB color scheme we must use the rgba parameter:
color: rgba(234, 45, 98, 0.33);

There is also a keyword name for an alpha of 0 (which is equivalent to rgba(0, 0, 0, 0) )
color: transparent;
*/
