p {
      font-family: Arial;
}
h1{
  color:maroon;
}
.title{
  color: teal;
}
.uppercase{
  text-transform: uppercase;
}
.publish-time{
  color:gray;
}
.cursive{
  font-family:cursive;
}
.capitalize{
  text-transform:capitalize;
}
h2.destination{
  font-family:cursive;
}


/* In this lesson we learned that we can chain selectors together. This allows us to further define specific elements without relying on ids.
In this example, we can select h2 elements that belong to the class destination with the css rule:
h2.destination{
  font-family:cursive;
}
This will not select h2 tags, or destination classes, but only h2 tags with the class destination.
*/
