p {
      font-family: Arial;
}
h1{
  color:maroon;
}
.title{
  color: teal;
}
.uppercase{
  text-transform: uppercase;
}
.publish-time{
  color:gray;
}
.cursive{
  font-family:cursive;
}
.capitalize{
  text-transform:capitalize;
}
h2.destination{
  font-family:cursive;
}
.description h5{
  color:teal;
}
h5{
  color:rebeccapurple !important;
}
h5{
  color:blue !important;
}


/* In this lesson we learned that the !important property can be used to overide all other rules. It should not be used except in very specific cases.
Also, if the same rule is defined twice the lowest one in the css file will be chosen.
Example:
h5{
  color:rebeccapurple !important;
}
h5{
  color:blue !important;
}
All h5's will be colored blue, and not purple.
*/
